/*
* General
*/

/*
* Base Page
*/

.container {
    margin-top: 56px;
}

/*
* Index Page
*/

.index_intro_div {
    padding: 4rem 1.5rem 2rem;
    text-align: center;
    border-bottom: 1px solid #212529;
}

.all_post_div {
    margin: 4rem;
}

.all_post_div h2 {
    font-size: 2rem;
    text-align: center;
}

.solo_post_div {
    margin: 3rem 0;
}

.post_title {
    font-size: 2rem;
    border-bottom: 1px solid #212529;
    margin: 0 auto;
}

.post_created {
    font-size: 1rem;
    margin: 0 auto 1rem;
    text-align: right;
}

.post_content {

}

.post_title, .post_created {
    width: 60%;
}

/*
* Login Page
*/

.login_div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 56px)
}

.login_form_div {
    width: 40%;
}

.form_header {
    text-align: center;
    margin-bottom: 2rem;
}

.form_btn {
    background-color: transparent;
    color: #0062cc;
}

.form_btn p {
    margin: 0;
}

/*
* Posts Page
*/

/*
* Edit Page
*/