{% extends 'base.html' %}
{% set active_page = "edit" %}

{% block head %}
<title>JODBlog - Edit</title>
{% endblock %}

{% block body %}
<div class="create_post_div">
    <div class="create_post_form">
        <form action="/posts" method="POST">
            <input type="text" name="title" id="title" class="inputs"
                   placeholder="Title">
            <textarea name="post" id="post" class="inputs" rows="3"
                      placeholder="Post"
            ></textarea>
            <input type="submit" value="Update" class="sub_button">
        </form>
    </div>
</div>
{% endblock %}
